MQTT_USERNAME=oee
MQTT_PASSWORD=
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_TOPIC=Factory_1/Production_Line_1/Machine_1/#

TIMESCALE_USER=oee
TIMESCALE_PASSWORD=
TIMESCALE_DB=oee

API_PORT=8000
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
